body{font-family:Arial, Sans-Serif;}
table.cv{width:100%;border:none}
table.cv td{vertical-align:top}
.main_text{clear:left}
.bk2hp{border:0;padding:15px;height:140px;max-width:90%}
.lim_width .bk2hp{margin-bottom:1.5em}
.patreon{border:0;height:40px;max-width:90%}
.faq img.faq_float,.indiv_nodes_wrapper img.faq_float,.screenplay img.faq_float{float:right;margin:0 2em}
.faq header,.indiv_nodes_wrapper header,.screenplay header{padding-bottom:1em}
.faq header>h2,.faq header>h3,.faq header>h4,.indiv_nodes_wrapper header>h2,.indiv_nodes_wrapper header>h3,.indiv_nodes_wrapper header>h4,.screenplay header>h2,.screenplay header>h3,.screenplay header>h4{display:inline}
.faq header a.indiv_node,.indiv_nodes_wrapper header a.indiv_node,.screenplay header a.indiv_node{padding:0.3em;float:right}
.faq header a.indiv_node:after,.indiv_nodes_wrapper header a.indiv_node:after,.screenplay header a.indiv_node:after{content:" ]"}
.faq header a.indiv_node:before,.indiv_nodes_wrapper header a.indiv_node:before,.screenplay header a.indiv_node:before{content:"[ "}
.navbar.novis{display:none;grid-column:0 / 0}
#nav_menu>ul{padding-left:0;margin-left:0.3em}
#nav_menu>ul ul{padding-left:0;margin-left:1.5em}
.nav_links{text-align:center;padding-left:0;padding-top:0}
.nav_links li{display:inline;list-style-type:none;padding-right:0.2em;padding-top:0}
.news_item,.indent{margin-left:3em}
div.rightalign{text-align:right}
ul.noindent{margin-left:0}
.center{text-align:center}
table.center{margin-left:auto;margin-right:auto}
.note{border-color:black;border-style:double;border-width:medium;padding:0.5em;background-color:#dfd;margin-top:1em;overflow:hidden}
.note h2{background:transparent}
div.bordered,section.bordered{border:solid green medium;margin-top:1em;overflow:hidden;padding:0.5em}
.bless{border:none}
.banner img,.banner div,.banner iframe{vertical-align:middle}
.books{background-image:url("./images/grsites-beige049-modified.png");border:4pt double #e02030;padding-bottom:0.5em;padding-left:0.5em;padding-right:0.5em;padding-top:0.5em}
.books dt{background-color:#ffffbb;border:1.5pt solid #ffa500;padding-bottom:0.25em;padding-left:0.3em;padding-right:0.3em;padding-top:0.2em}
.books dd{background-color:#e0ffe0;border:1pt solid black;margin-bottom:0.7em;margin-left:0.5em;margin-right:0.5em;margin-top:0.7em;padding-bottom:0.3em;padding-left:0.5em;padding-right:0.5em;padding-top:0.3em}
.books dd p{margin-bottom:7pt;margin-top:3pt}
.sub_menu{float:right;font-size:80%;margin-left:7pt;margin-right:10pt;min-width:220px;width:20%}
.sub_menu h2{font-size:medium;margin-bottom:0;margin-top:0;padding-top:0}
#sect_menu_wrapper.novis{display:none}
.toggle_sect_menu{border:2pt solid black;padding:0.2em 0.5em;border-radius:5px;background-color:PaleGoldenRod;border-color:black;color:black;float:right;text-decoration:none}
.toggle_sect_menu:hover{border:2pt solid black;padding:0.2em 0.5em;border-radius:5px;background-color:yellow;border-color:red;cursor:pointer}
.hide{display:none}
.svg_center{display:block;margin-left:auto;margin-right:auto;text-align:center}
.search,.elsew_on_web{border:1.5pt solid #207020;margin-bottom:0.5cm;margin-left:auto;margin-right:auto;padding:0.5em}
.search h2,.elsew_on_web h2{font-size:large;font-weight:bold}
.search img,.elsew_on_web img{margin-left:auto;margin-right:auto;text-align:center}
.search p,.elsew_on_web p{margin:.5em}
.search>ul,.elsew_on_web>ul{padding-left:1.3em}
.hebrew{direction:rtl;padding-right:0.75cm;text-align:right}
.english{direction:ltr;font-family:Helvetica, sans-serif;text-align:left}
.hilight .l,p.hilight{font-size:x-large}
.hilight dd{margin-bottom:0.5em;margin-top:0.5em}
.skip_to_main{font-size:x-large}
.skip_to_main>a:after{content:" ⬇ ] "}
.skip_to_main>a:before{content:" [ ⬇ "}
p.desc{margin-left:3em}
.invisible,.invisible a{height:1px;left:-10000px;overflow:hidden;position:absolute;top:auto;width:1px}
.invisible:focus,.invisible a:focus{height:auto;position:static;width:auto}
.about_site{border-bottom:green solid 3pt;border-left:green solid 2pt;border-right:green solid 2pt;margin-left:1em;margin-right:10pt}
.about_site h2{margin-top:0;background-color:green;color:white;padding:5px;padding-bottom:3px}
.about_site p,.about_site h3{margin-left:0.5em;margin-right:0.5em;margin-top:0}
.revhistory{border-collapse:collapse;overflow:hidden}
.revhistory th{vertical-align:top;text-align:left}
.revhistory td{border:1.5pt black solid;padding:2pt;text-align:left;vertical-align:top}
.revhistory th{border:1.5pt black solid;padding:2pt}
.article h4,.article h5,.article h6{margin-top:8pt;margin-bottom:0.7cm}
.article h2{text-decoration:underline}
.article h3{text-decoration:underline}
.sub_menu .nav_links li{display:inline;margin:0;padding:0}
.sub_menu .nav_links img{border:0;margin:0;padding:0}
.vercon{color:#8a2be2}
.designs{border-collapse:collapse;overflow:hidden}
.designs th{vertical-align:top;text-align:left}
.designs td{vertical-align:top;text-align:left;border:1.5pt black solid;padding:2pt}
.designs th{border:1.5pt black solid;padding:2pt}
.designs img{background-color:white;border:none}
blockquote{border:grey thin solid;padding:0.5em;margin-left:0.5em;}
.fortune blockquote{display:block}
#disqus_thread{clear:right}
.rfloaty{float:right;margin:1em}
.rfloaty.h{height:100px}
.graphic_designs .design{border:2pt solid black;margin-bottom:2em;margin-left:2em;margin-right:2em;padding:1em;overflow:hidden;border-radius:5px}
.graphic_designs .design:hover{border-color:grey}
.thumb{border:3pt double black;margin-left:3em;margin-right:3em;text-align:center;padding:0.3em;padding-top:1em;overflow:hidden}
.articles_list p{margin-left:2em}
.cc{border-width:0;margin-bottom:0.5em}
.story [lang^="en"]{text-align:left;direction:ltr}
article.story,section.story{border-radius:5px;border:3px solid black;clear:right;margin-bottom:2em;margin-top:0.5em;padding:0.5em}
article.story::after,section.story::after{display:block;content:"";clear:right}
article.story:hover,section.story:hover{border-color:darkgreen}
article.story p.tagline,section.story p.tagline{color:#7d3b5f;font-size:120%;font-style:italic;margin-left:2em}
.aphorisms blockquote{margin-left:3em}
.sub_section{margin-left:3em}
.art_logo.better_scm{border:5pt green solid;margin-bottom:1em;border-radius:3pt}
.story_logo,.screenplay_image{margin-left:1em;margin-bottom:1em;margin-right:1em;margin-top:1em;float:right;max-width:80%}
.story_logo.buffy_few_good,.story_logo.terminator_liberation,.screenplay_image.buffy_few_good,.screenplay_image.terminator_liberation{width:200px}
.facts_logo{margin-left:1em;margin-bottom:1em;margin-right:1em;margin-top:1em;float:left}
.facts_logo.in_soviet_russia,.facts_logo.windows_update,.facts_logo.xslt{width:150px}
.facts_logo.xslt{margin-bottom:10em}
.facts_wrap .desc{padding-top:1.5em}
.aphorisms article{border:2pt solid darkgreen;padding:1em;margin-bottom:2em;overflow:hidden;border-radius:10px}
.aphorisms article:hover{border-color:#787}
.screenplay.read,.docbook_formats{border:2pt solid darkgreen;padding:1em;margin-bottom:2em;overflow:hidden;border-radius:10px}
.screenplay.read:hover,.docbook_formats:hover{border-color:#787}
.shlomif_tips>.entry{border:3px darkgreen solid;margin-bottom:1em;padding:0.5em}
div.abstract.towtf,div.abstract.pope{border-bottom:3px darkgreen solid;border-top:3px darkgreen solid;margin-bottom:1em;overflow:hidden}
.hebrew .page_toc{clear:left}
.side_toc div.page_toc,.side_toc nav.page_toc,.screenplay_style div.page_toc,.screenplay_style nav.page_toc{border-bottom-left-radius:10px;border-bottom:black solid 3px;border-left:black solid 3px;clear:right;float:right;font-size:85%;margin-left:1em;max-width:25em;padding-bottom:0.5em;padding-left:0.5em;width:27%}
.side_toc div.page_toc li,.side_toc div.page_toc ul,.side_toc nav.page_toc li,.side_toc nav.page_toc ul,.screenplay_style div.page_toc li,.screenplay_style div.page_toc ul,.screenplay_style nav.page_toc li,.screenplay_style nav.page_toc ul{margin-left:0;margin-right:0;padding-left:0;padding-right:0}
.side_toc div.page_toc ul,.side_toc nav.page_toc ul,.screenplay_style div.page_toc ul,.screenplay_style nav.page_toc ul{margin-left:1em;margin-right:1em}
.side_toc div.page_toc a,.side_toc nav.page_toc a,.screenplay_style div.page_toc a,.screenplay_style nav.page_toc a{word-break:normal}
.death_star_frame{border:1.5pt solid #dd6666;margin-bottom:1em;margin-top:1em;padding:1em;border-radius:5px}
.death_star_frame .bold{font-weight:400}
.cv_highlights{font-size:120%}
.who_is_qoheleth .screenplay_image,.terminator_liberation .screenplay_image{float:none;margin-left:1em;margin-bottom:1em}

section.fancy_sects{margin-bottom:2em;margin-top:2em;margin-left:0.5em;padding-left:1em;border-left:black solid 3px;padding-bottom:.3em;padding-top:.3em}
section.fancy_sects:hover{border-left-color:#555555}
section.fancy_sects>p:last-child,section.fancy_sects>ul:last-child>li:last-child>p:last-child,section.fancy_sects>ol:last-child>li:last-child>p:last-child{padding-bottom:1em}
.fancy_sects section,.fancy_sects .sub_section{margin-bottom:2em;margin-top:2em;margin-left:0.5em;padding-left:1em;border-left:black solid 3px;padding-bottom:.3em;padding-top:.3em}
.fancy_sects section:hover,.fancy_sects .sub_section:hover{border-left-color:#555555}
.fancy_sects section>p:last-child,.fancy_sects section>ul:last-child>li:last-child>p:last-child,.fancy_sects section>ol:last-child>li:last-child>p:last-child,.fancy_sects .sub_section>p:last-child,.fancy_sects .sub_section>ul:last-child>li:last-child>p:last-child,.fancy_sects .sub_section>ol:last-child>li:last-child>p:last-child{padding-bottom:1em}
.fancy_sects li{margin-left:0;padding-left:0}
.fancy_sects ol,.fancy_sects ul{margin-left:2em;padding-left:0}
h2.facts,h2#facts,h3.facts,h3#facts{clear:both}
.facts_sources>header{clear:both}
.bits_stories_list article{margin-bottom:3em}
.bits_stories_list article>p{margin-left:2em}
.markdown img{margin:1em}
.limit_imgs_width img,.lim_width img{max-width:90%}
.limit_imgs_width pre,.lim_width pre{overflow:auto}
@media (max-width: 991px){.limit_imgs_width.my_rpf .page_toc *,.lim_width.my_rpf .page_toc *{overflow:hidden}
}
.lim_width .dnd_cartoon{margin-bottom:1.5em}
img[alt="Creative Commons Licence"]{border-width:0}
.film_casts h3,.film_casts div.cl{clear:right}
h2.puz_sol{margin-top:50em}
ol.plain{list-style:none}
.mastering-cat-cover{border:green solid thin;float:right;margin-left:0.5em;padding:0.5em}
.mastering-cat-cover img{border:0}
.small{font-size:0.8em}
.no-underline{text-decoration:none}
img.rindolf{float:right;margin:0 2em}
.evilphish{border:0;float:right;margin:0.5em;max-width:70%}
*:focus{outline:red solid 2px}
.lim_width iframe{max-width:99%;height:auto}
img.max_width{max-width:99%;height:auto}
img.max_width.h6{float:right;margin:0.3em}
#navbar img{max-width:200px;height:auto}
#navbar iframe{max-width:99%;height:auto}
img.bizcard{background-color:white;border:0.5em black solid;border-radius:0.35em;max-width:80%}
.read-more,.read-less{display:block;margin-top:2em}
body.self_link .selfl{display:none}
body.self_link h1:hover .selfl,body.self_link h2:hover .selfl,body.self_link h3:hover .selfl,body.self_link h4:hover .selfl,body.self_link h5:hover .selfl,body.self_link h6:hover .selfl{display:inline}
body.self_link h1:hover .selfl a,body.self_link h2:hover .selfl a,body.self_link h3:hover .selfl a,body.self_link h4:hover .selfl a,body.self_link h5:hover .selfl a,body.self_link h6:hover .selfl a{margin-left:0.5em;text-decoration:none;color:black}
.code_block pre{border:thin black solid;padding:1em;background-color:white}
.sub_menu ul.nm_main{background:url("./images/vline.png") repeat-y scroll 0 0 transparent;list-style-type:none;margin:0;padding:0}
.sub_menu ul.nm_main ul{background:url("./images/vline.png") repeat-y scroll 0 0 transparent;list-style-type:none;margin:0;padding:0;margin-left:10px}
.sub_menu ul.nm_main li{background:url("./images/node.png") no-repeat scroll 0 0 transparent;color:#336699;font-weight:bold;line-height:20px;margin:0;padding:0 12px}
.sub_menu ul.nm_main li:last-child{background:url("./images/lastnode.png") no-repeat scroll 0 0 silver}
.oflow_test{overflow:auto}
#header{padding-top:80px}
.sub_menu{background-color:#c0c0c0;padding-top:20pt;padding-bottom:3em;padding-left:10pt;padding-right:10pt;border-radius:10px;margin-bottom:1em}
.sub_menu .nav_links img:hover,.sub_menu .nav_links a{background:transparent}
.banner{height:80px}
pre{overflow-wrap:break-word;text-align:justify;direction:ltr;overflow:auto}
body #container-all{display:grid;grid-template-columns:repeat(5, 3fr);position:relative}
body #navbar{grid-row:2;grid-column:1}
body #navbar.novis{display:none}
#faux{background-color:white;}
body{margin:0;padding:0}
@media (max-width: 991px){body.overflow_all *{overflow:auto}
}
